body {
	background-color: black !important;
	color: white !important;
}

.cadre {
	border: 1px solid white;
	min-height: 150px !important; 
	height: auto;
	margin-top: 3%;
	padding: 15px;
}

.center {
	text-align: center !important;
}

.logo {
	background-color: pink;
	margin-top: 5%;
	height: 340px;
	text-align: center;
	line-height: 340px;
}
